<footer class="app-footer">
    <div>
        <strong><%= appName %></strong>
        <span>Private movie and web series tracking for your account.</span>
    </div>
    <div class="footer-icons" aria-label="Footer icons">
        <i class="fa-solid fa-film"></i>
        <i class="fa-solid fa-tv"></i>
        <i class="fa-solid fa-star"></i>
    </div>
</footer>
