<nav class="navbar navbar-expand-lg app-navbar sticky-top">
    <div class="container-fluid px-3 px-md-4">
        <a class="navbar-brand brand-lockup" href="/media">
            <span class="brand-mark">
                <i class="fa-solid fa-clapperboard"></i>
            </span>
            <span><%= appName %></span>
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <% if (currUser) { %>
                <div class="navbar-nav ms-lg-4">
                    <a class="nav-link <%= currentPath === '/media' ? 'active' : '' %>" href="/media">
                        Dashboard
                    </a>
                    <a class="nav-link <%= currentPath === '/media/new' ? 'active' : '' %>" href="/media/new">
                        Add Title
                    </a>
                </div>
            <% } %>

            <div class="navbar-nav ms-auto align-items-lg-center">
                <% if(!currUser) { %>
                    <a class="nav-link" href="/signup">Sign Up</a>
                    <a class="btn btn-nav" href="/login">Login</a>
                <% } else { %>
                    <span class="nav-user">
                        <i class="fa-solid fa-user"></i>
                        <%= currUser.username %>
                    </span>
                    <a class="nav-link" href="/logout">Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
